Name : Puthucode Krishna Rukmini

Sudent ID : 002579345

1. Write a function that finds the factorial of a number. Test the function finding the
factorial of the number 10.

In [ ]:
# Fatorial function.
def factorial_function(value):
  if value == 0 or value == 1:
    factorial = 1
  else :
    factorial = value * factorial_function(value - 1)
  return factorial



value = int(input("enter a value to find the factorial : "))
result = factorial_function(value)    # Factorial function call
print(result)

enter a value to find the factorial : 6
720

2. Write a function that determines if a number is a prime number. Test the function with
the following numbers: 3 and 1251.

In [ ]:
# Prime or not function
def prime_function(value):
  if value > 1 :
    for i in range(2, value):
      if value % i == 0 :
        print("not a prime number ")
        break
    else:
      print("prime number")
  else:
    print("prime number")
  
# Test for 3
value = int(input("enter the value : "))
if (value >= 1):
  prime_function(value)
else:
  print(" number entered is less than 1 ")

enter the value : 3
prime number

In [ ]:
# Test for 1251
value = int(input("enter the value : "))
if (value >= 1):
  prime_function(value)
else:
  print(" number entered is less than 1 ")

enter the value : 1251
not a prime number

3. Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.

In [ ]:
# Matrix transpose function
def matrix_transpose_function(matrix_sample):
  matrix_sample_transpose = [[matrix_sample[i][j] for i in range(len(matrix_sample))] for j in range(len(matrix_sample[0]))]
  return matrix_sample_transpose

# print matrix function
def print_matrix(matrix):
  for row in matrix:
    print(row)


# Test with 3*3 Identity matrix
matrix = [[1,0,0],[0,1,0],[0,0,1]]
print("Given matrix")
print_matrix(matrix)
print( "\nMatrix transpose ")
print_matrix(matrix_transpose_function(matrix))

Given matrix
[1, 0, 0]
[0, 1, 0]
[0, 0, 1]

Matrix transpose
[1, 0, 0]
[0, 1, 0]
[0, 0, 1]

4. Using Pandas and Numpy, write a piece of code to combine two series into one. 
Test
your code with:
np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
Do not forget to set the seed, or your answer wonâ€™t be reproducible.

In [6]:
import pandas as pd
import numpy as np

np.random.seed(10) # Seed is of no use here as we haven't used any Random selections
series1 = pd.Series(np.arange(10)) 
series2 = pd.Series(np.arange(26)) 

# combined 2 series using concat
combined_Series = pd.concat([series1,series2],axis=0)
combined_Series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [ ]:
# combined 2 series using append
combined_ser_append = series1.append(series2)
combined_ser_append

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [19]:
#  combined 2 series without using library
length_result = len(series1)+len(series2)
combined_nolibrary = pd.Series(dtype= 'int',index = range(length_result))

for i in range(length_result):
  if i<len(series1):
    combined_nolibrary[i]= series1[i]
  else:
    combined_nolibrary[i]=series2[i-len(series1)]
combined_nolibrary

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10     0
11     1
12     2
13     3
14     4
15     5
16     6
17     7
18     8
19     9
20    10
21    11
22    12
23    13
24    14
25    15
26    16
27    17
28    18
29    19
30    20
31    21
32    22
33    23
34    24
35    25
dtype: int64

5. Using pandas, write a piece of code to convert the first character of each element in a
series to uppercase. Test your code with:
series = pd.Series(['nlp', 'will', 'be', 'easy?'])

In [ ]:
import pandas as pd
import numpy as np

series = pd.Series(['nlp', 'will', 'be', 'easy?'])

# converted first character of elements to uppercase using capitalize

Capitalized_series = series.str.capitalize()
Capitalized_series

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

In [ ]:
# converted first character of elements to uppercase without using library

dict_alphabets = {'a':'A','b':'B','c':'C','d':'D','e':'E','f':'F','g':'G','h':'H','i':'I','j':'J','k':'K','l':'L','m':'M','n':'N',
                  'o':'O','p':'P','q':'Q','r':'R','s':'S','t':'T','u':'U','v':'V','w':'W','x':'X','y':'Y','z':'Z'}
List_series = []
for ele in series:
  List_series.append(dict_alphabets[ele[0]]+ele[1:])

Result_Capitalized_Series = pd.Series(List_series)
Result_Capitalized_Series

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

Bonus: Using pandas, write a piece of code to get the frequency of unique values in the
entire dataframe (not using built in functions). Test your code with:
dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(5)   # Seed can be used here as we are opting Random value to keep the result constant

dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))
dataFrame

   a  b  c  d
0  8  5  6  5
1  9  8  5  5
2  9  6  5  8
3  9  8  6  9
4  7  6  6  7

In [ ]:
dict_count_value = {}

for row in dataFrame.values:
  for col in row:
    dict_count_value[col]= dict_count_value.get(col,0) + 1
print(dict_count_values)

{6: 5, 9: 4, 5: 6, 8: 3, 7: 2}